# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

# Python files
[*.py]
indent_size = 4
max_line_length = 88

# Configuration files
[*.{ini,yml,yaml,toml}]
indent_size = 2

# JSON files
[*.{json,jsonld}]
indent_size = 2

# Markdown files
[*.md]
indent_size = 2
max_line_length = 80
